{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-empty">
        {%  url 'letter_contentapp:update' pk=target_letter.letter_content.pk as url %}
        {% include 'headersnippets/back.html' with url=url %}
        {% if target_letter.progress == 'done' %}
        {%  url 'letterapp:result' pk=target_letter.pk as url %}
        {% else %}
        {%  url 'letterapp:create'  as url %}
        {% endif %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>


<main>
<div class="frame-letter" >
    {% with progress=3 %}
    {% include 'snippets/progress.html' %}
    {% endwith %}
    {% include 'letter_quizapp/listsnippets/list.html' %}
    {% include 'letter_quizapp/listsnippets/zoom.html' %}
    {% include 'letter_quizapp/listsnippets/submit.html' %}
</div>
</main>

{% endblock %}

