{% extends 'base.html' %}
{% block content %}
<header class="header-empty">
        {% if user == target_letter.writer %}
        {%  url 'letterapp:result' pk=target_letter.pk as url %}
        {% else %}
        {%  url 'letterapp:result' pk=target_letter.pk as url %}
        {% endif %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>


<main>
    {% include 'letter_quizapp/quizsnippets/question.html' %}
    {% include 'letter_quizapp/quizsnippets/answer.html' %}
</main>


{% endblock %}

