{% extends 'base.html' %}
{% block content %}

<style>
#letter_quiz-update .form-group{
    margin-top:1.5rem;
}

#letter_quiz-update .form-group label{
    margin-bottom:1.5rem;
    font-size: var(--fontsize-title);
}
#letter_quiz-update .form-group:first-of-type label{
    margin-top:0
}
</style>

<header class="header-empty tema-{{ target_letter.letter_content.tema }}">
        {%  url 'letter_quizapp:list' pk=target_letter.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}
        <form style="margin-left: auto" action="{% url 'letter_quizapp:delete' pk=target_quiz.pk %}" method="post"
              id="form-delete-quiz">
            {% csrf_token %}
            <input style="display:none" type="submit" name="next"
                   value="{% url 'letter_quizapp:list' pk=target_letter.pk %}">
            <button type="button" onclick="confirmQuizDelete()" class="btn-delete material-icons">
                delete_forever
            </button>
        </form>
</header>


<main class="tema-{{ target_letter.letter_content.tema }}"  id="letter_quiz-update">
    {% if type == 'choice' %}
        {% include 'letter_quizapp/updatesnippets/choice.html' %}
    {% elif type == 'answer' %}
        {% include 'letter_quizapp/updatesnippets/answer.html' %}
    {% else %}
        {% include 'letter_quizapp/updatesnippets/date.html' %}
    {% endif %}
</main>
    <script>
    function confirmQuizDelete() {
        if (confirm("선택한 질문을 삭제하시겠습니까?")) {
            document.getElementById("form-delete-quiz" ).submit();
        }
    }
</script>

{% endblock %}

