{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'letter_quizapp/postsnippets/updateheader.html' %}
<main id="letter_quiz-form">
    {% if target_quiz.type == 'choice' %}
        {% include 'letter_quizapp/postsnippets/choice.html' %}
    {% elif target_quiz.type == 'word' %}
        {% include 'letter_quizapp/postsnippets/word.html' %}
    {% else %}
        {% include 'letter_quizapp/postsnippets/date.html' %}
    {% endif %}
</main>
<script src="{% static 'js/confirmAction.js' %}"></script>
{% endblock %}

