{% extends 'base.html' %}
{% block content %}
<header class="header-empty">
        {% include 'headersnippets/error.html' with url=url %}
        {%  url 'letterapp:intro' pk=target_letter.pk as url %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>


<main>
    {% include 'letter_quizapp/quizsnippets/question.html' %}
    {% if target_quiz.type == 'choice' %}
        {% include 'letter_quizapp/quizsnippets/choice.html' %}
    {% elif target_quiz.type == 'word' %}
        {% include 'letter_quizapp/quizsnippets/word.html' %}
    {% else %}
        {% include 'letter_quizapp/quizsnippets/date.html' %}
    {% endif %}
</main>


{% endblock %}

