{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header>
    {% url 'accountapp:setting' pk=user.pk as url %}
    {% include 'headersnippets/back.html' with url=url %}
    {% with title="비밀번호 변경" %}
        {% include 'headersnippets/title.html' %}
    {% endwith %}
</header>

<main>
    <div class="frame">
        <div class="container-form">
            <form action="{% url 'accountapp:passwordupdate' pk=user.pk %}" method="post">
                {% csrf_token %}{% bootstrap_form form %}
                <input type="submit" class="btn-submit-close" value="비밀번호 변경">
            </form>
        </div>
    </div>
</main>

{% endblock %}