{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header">
    {% with title="ID.PW 재설정" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
    {% url 'accountapp:setting' pk=user.pk as url %}
    {% include 'headersnippets/exit.html' with url=url %}
</header>

<main>
    <div class="frame frame-form">
        <div class="container">
            <form action="{% url 'accountapp:reset' pk=user.pk %}" method="post">
                {% csrf_token %}{% bootstrap_form form %}
                <input type="submit" class="btn-submit " value="ID.PW 재설정">
            </form>
        </div>
    </div>
</main>

{% endblock %}