{% load static %}

<style>
.frame-footer{
    background: var(--blackgray);
    width: 100%;
    bottom:0;
    position: fixed;
    left: 0;
    padding:1.7rem var(--padding-frame);
}
.frame-footer .container-footer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background: transparent;
}
.frame-footer .text-title{
    color: var(--white);
}

.frame-footer .btn-save{
    background: var(--black);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    color:var(--white);
    height: 6.7rem;
    width: 6.7rem;
    font-size:2.5rem;
    border-radius: 50%;
    font-weight:var(--fontweight-content);
    position: absolute;
    border:1.1rem solid var(--blackgray);
    right: 0rem;
    top:-3.2rem;
}

</style>
{% if not user.is_authenticated %}
    <button onclick="show(2)" class="frame-footer">
        <div class="container-footer">
            <span class="text-title">
               로그인 후 편지 저장!
            </span>
            <div class="btn-save material-icons">
                cloud_download
            </div>
        </div>
    </button>
{% else %}
    <a id="btn-loading2" onclick="showLoading(2, event)"
       href="{% url 'letterapp:save' %}?object_pk={{ target_letter.pk }}" class="frame-footer" >
        <div class="container-footer">
            <span class="text-title">
                편지를 저장해요!
            </span>
            <div class="btn-save material-icons">
                cloud_download
            </div>
        </div>
    </a>
{% endif %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const saveButton = document.getElementById("btn-save");
  const loadingIndicator = document.getElementById("loading-save");

  saveButton.addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default link behavior

    // Show the loading indicator
    loadingIndicator.style.display = "block";

    // Delay the actual link navigation by 1 second (1000 milliseconds)
    setTimeout(function() {
      window.location.href = saveButton.href; // Navigate to the link URL
    }, 1000);
  });
});
</script>