{% load static %}
<button onclick="closeZoom(2)" id="frame-zoom2" class="frame-zoom">
    <div class="container">
        <div class="item-exit material-icons">
            cancel
        </div>
        <span class="text-title-bold" >
            편지를 저장하고 싶으신가요?
        </span>
        <span class="text-title" style="text-align: center">
            로그인/ 회원가입하고 홈 화면 또는 <br>
            링크로 다시 접속해서 저장해요
            </span>
        <a href="{% url 'accountapp:login' %}?redirect_pk={{target_letter.pk}}"  id="btn-loading1"
           onclick="showLoading(1, event)" class="btn-nav">이해했어요!</a>
    </div>
</button>
<div id="loading" class="loading">
    <div class="spinner"></div>
</div>
<script src="{% static 'js/show.js' %}"></script>
<script src="{% static 'js/show.js' %}"></script>