

<a href="{% url 'letter_infoapp:update' pk=target_letter.letter_info.pk %}" class="btn-edit-fixed material-icons">edit</a>
<form action="{% url 'letterapp:delete' pk=target_letter.pk %}" method="post"
      id="letter-delete-form">
    {% csrf_token %}
    <input style="display:none" type="submit" name="next"
           value="{% url 'accountapp:sentmailbox' pk=target_letter.sender.pk %}">
    <button type="button" onclick="confirmLetterDelete()" class="btn-delete-fixed material-icons" style="right:6rem;">
        delete_forever
    </button>
</form>
<script>
function confirmLetterDelete() {
    if (confirm("현재 편지를 삭제하시겠습니까?")) {
        document.getElementById("letter-delete-form").submit();
    }
}
</script>