{% load static %}
<style>
    #letter-result-info{
        padding-top:1rem
    }
    #letter-result-info .container{
        padding-top:2rem;
        padding-bottom:2rem;
    }

    #letter-result-info .text-time{
        color: var(--softgray);
        font-weight: var(--fontweight-content);
        font-size: var(--fontsize-detail);
        margin-right: 0.5rem;
    }
    #letter-result-info .text-content{
        margin-right: auto;
    }

    #letter-result-info .item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom:0.7rem;
    }

</style>
<div class="frame" id="letter-result-info">
    <div  class="container" >
        <div class="item" >
            <span class="text-content" >작성 시간</span>
            <span class="text-content-bold" >{{ target_letter.finished_before }}</span>
        </div>
        <div class="item" >
            <span class="text-content" >작성자</span>
            <span class="text-content-bold" >{{ target_letter.letter_info.sender_name }}</span>
        </div>
        <div class="item" >
            <span class="text-content" >수신자</span>
            <span class="text-content-bold" >{{ target_letter.letter_info.receiver_name }}</span>
        </div>
        <div class="item" >
            <span class="text-content" >편지 날짜</span>
            <span class="text-content-bold" >{{ target_letter.letter_info.written_at|date:"m월 d일" }}</span>
        </div>
        <div class="item" style="margin-bottom: 0">
            <span class="text-content" >편지 확인</span>
            <span class="text-content-bold" >{{ target_letter.get_state_display }}</span>
        </div>
    </div>
</div>
