{% load static %}
<style>

    #letter-result-link .spacing-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    #letter-result-link .container{
        width: 47.5%;
        padding-top:1.7rem;
        padding-bottom:1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--white);
        box-shadow: var(--shadow-container);
        border-radius: var(--border-radius-container);
        border:var(--border-container);
    }


    #letter-result-link .image-qr{
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
    }
    #letter-result-link .image-link{
        object-fit: cover;
        width: 2.8rem;
        height: 2.8rem;
    }
    #letter-result-link .item-image{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width: 3.5rem;
        height: 3.5rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
    }
    #letter-result-link .spacing-link{
        padding-left: 0.3rem;
        width:100%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;
    }
    #letter-result-link .icon-link{
        margin-left: 0.5rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--gray);
    }


</style>

<div class="frame" id="letter-result-link">
    <div class="spacing-container">
        <a href="{{ target_letter.qr.url }}" download="QRCode.png" class="container" >
            <div class="item-image">
                <img class="image-qr" src='/static/icons/guide/qrcode.png'>
            </div>
            <div class="spacing-link">
                <span class="text-content-bold">qr 코드</span>
                <span class="icon-link material-icons">download</span>
            </div>
        </a>
        <button onclick="copyLetterUrl()"  class="container" data-url="{{target_letter.url}}">
            <div class="item-image">
                <img class="image-link" src='/static/icons/guide/url.png'>
            </div>
            <div class="spacing-link">
                <span class="text-content-bold">편지 링크</span>
                <span class="icon-link material-icons" style="font-size: 1.2rem">content_copy</span>
            </div>
        </button>
    </div>
</div>
<script src="{% static 'js/copyLetterUrl.js' %}"></script>