<style>
#letter-result-preview .container{
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#letter-result-preview .icon-nav{
    font-size: 1.6rem;
    font-weight: var(--fontweight-bold);
    color: var(--black);
}
</style>
<a href="{% url 'letterapp:intro' pk=target_letter.pk %}" class="frame" id="letter-result-preview">
    <div  class="container" >
        <div class="item">
        <span class="text-content-bold" >{{ target_letter.letter_info.title|truncatechars:23 }}</span>
        <div class="spacing-horizontal" style="margin-top:0.4rem;">
                <span class="text-content" style="margin-right: 0.7rem">등록 질문</span>
                <span class="text-content-bold">{{ target_letter.letter_quiz.all|length }}개</span>
            </div>
        </div>
        <div class="icon-nav material-icons" >
            arrow_forward_ios
        </div>
    </div>
</a>
