{% load static %}
<style>

#frame-guide .icon-down {
    font-size: 2rem;
    color: var(--middlepink);
    font-weight: var(--fontweight-index);
    margin-right: 1rem;
}
</style>
{% if target_letter.delete_after %}
<button onclick="closeGuide()" id="frame-guide" class="frame-zoom-info">
    <div class="container">
        <div class="item-exit">
            <div class="material-icons btn-exit">cancel</div>
        </div>
        <div class="item-content" >
            <div class="spacing-title" style="margin-bottom: 1.5rem">
            <span class="text-title">
                상대방이 편지를 확인했어요!
            </span>
            </div>
            <div class="spacing-horizontal interval-content">
                <span class="text-content">
                    상대방이 편지를 저장하지 않으면 <br>{{ target_letter.delete_after }} 편지가 사라져요
                </span>
            </div>

        </div>
        <a  href="{% url 'letterapp:reset' %}?letter_pk={{ target_letter.pk }}" class="btn-nav" id="btn-loading">편지 확인 초기화</a>
    </div>
</button>
<div id="loading-save" class="loading-indicator">
        <div class="spinner"></div>
        </div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const saveButton = document.getElementById("btn-loading");
  const loadingIndicator = document.getElementById("loading-save");

  saveButton.addEventListener("click", function(event) {
    event.preventDefault(); // Prevent the default link behavior

    // Show the loading indicator
    loadingIndicator.style.display = "block";

    // Delay the actual link navigation by 1 second (1000 milliseconds)
    setTimeout(function() {
      window.location.href = saveButton.href; // Navigate to the link URL
    }, 1500);
  });
});
</script>
<script src="{% static 'js/showGuide.js' %}"></script>
{% endif %}