/* snippets */
.container-form,
.container-empty,
.container-snippets,
.container{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: var(--border-radius-container);
    background: var(--white);
    width: 100%;
    padding:1.7rem var(--padding-content);
    border:var(--border-container);
    box-shadow: var(--shadow-container);
    position: relative;
    margin:0;
}

.container-form{
    border:none;
    box-shadow: none;
    padding:0 var(--padding-content) 3rem var(--padding-content);
}

.container-empty{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height: 8rem;
    box-shadow: none;
    border:none;
}


.container-snippets{
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}



