/* text 관리 */


.text-title-bold,
.text-title{
    font-size:var(--fontsize-title);
    color:var(--black);
    font-weight:var(--fontweight-content);
}

.text-index-bold,
.text-index{
    color:var(--black);
    font-size:var(--fontsize-index);
    font-weight:var(--fontweight-content);
}

.text-content-bold,
.text-content{
    color:var(--gray);
    font-size:var(--fontsize-content);
    font-weight:var(--fontweight-content);
}

.text-title-bold,
.text-index-bold,
.text-content-bold{
    font-weight:var(--fontweight-bold);
}

.text-content-bold{
    color: var(--black);
}

/* spacing 관리 */


.spacing-title,
.spacing-horizontal-center,
.spacing-horizontal{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    width:100%;
}

.spacing-horizontal-center{
    justify-content: center;
}

.spacing-title{
    padding-left:0.5rem;
    padding-right:0.5rem;
    margin-bottom:1.3rem;
}

.spacing-vertical{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
}

.spacing-horizontal-stretch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* btn 관리 */


.btn-reset,
.btn-etc,
.btn-delete,
.btn-edit{
    border-radius: 50%;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    width:3.8rem;
    height:3.8rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background: var(--black);
    box-shadow: var(--shadow-btn-dark);
    font-size: 1.8rem;
    color: var(--white);
    font-weight:400;
    z-index:100;
}

.btn-delete{
    background: var(--red);
    font-size: 2.2rem;
}

.btn-etc{
    width:4rem;
    height:4rem;
    font-size: 2.1rem;
    padding-left: 0.1rem;
}

.btn-reset{
    font-weight: 200;
    font-size: 2.4rem;
    padding-right: 0.2rem;
}

.btn-submit-fixed,
.btn-submit-close,
.btn-submit,
.btn-nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    width:100%;
    background:var(--black);
    color:var(--white);
    font-size:var(--fontsize-title);
    box-shadow: var(--shadow-btn-dark);
    border:var(--border-btn);
    font-weight:var(--fontweight-content);
    z-index:100;
    border-radius: 2.5rem;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}

.btn-submit-fixed,
.btn-submit-close,
.btn-submit{
    margin-top:3.7rem;
    height: 5rem;
}

.btn-submit-close{
    margin-top:2.5rem;
    height: 4.8rem;
}

.btn-submit-fixed{
    height: 5.5rem;
    width: auto;
    position: fixed;
    right:calc(var(--padding-frame) + 4%);
    left:calc(var(--padding-frame) + 4%);
    bottom:2rem;
}

.btn-submit:active {
  background-color: var(--blackgray);
}

/* link 관리 */
.link{
    margin-top:1.5rem;
    margin-left:0.5rem;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
}

.link .text-link{
    font-weight:var(--fontweight-bold);
    font-size:var(--fontsize-content);
    color:var(--black);
    text-decoration: underline;
    text-decoration-color:var(--black);
    text-decoration-thickness: 1.5px;
    margin-left:0.7rem;
}

/* slide 관리 */
.slide{
    width: 100%;
    display: none;
}
/* loading 관리 */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 4.5rem;
    height: 4.5rem;
    z-index: 100;
    display: none;
}

.loading .spinner-white,
.loading .spinner{
    border: 7px solid var(--black);
    border-top: 7px solid var(--middlepink);
    border-radius: 50%;
    box-shadow: 0 0 3px var(--softgray);
    width: 4rem;
    height: 4rem;
    animation: rotate 1s linear infinite;
}

.loading .spinner-white {
    border: 7px solid var(--white);
    border-top: 7px solid var(--middlepink);
}
.item-image{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    flex-shrink: 0;
}

.item-image .img{
    object-fit: cover;
    width: 2.6rem;
}
