
.form-group{
    height: fit-content;
}
.form-group br{
    display: none;
}

.form-horizontal .form-group{
    margin-top:1.5rem;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    flex-flow:wrap;
}

.form-group:first-of-type label{
    margin-top:3rem
}

.form-group label{
    margin-top:2.5rem;
    font-size:var(--fontsize-content);
    color:var(--black);
    margin-left: 0.3rem;
    margin-bottom: 0.7rem;
    width:100%;
    font-weight: var(--fontweight-bold);
}
.form-horizontal .form-group label{
    padding-left: 0.3rem;
    width: auto;
    margin:0;
}

.form-control-file,
.form-control {
    width:100%;
    padding-left:1rem;
    background: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    color: var(--whitegray);
    font-size:var(--fontsize-content);
    font-weight:var(--fontweight-content);
    border:1.5px solid var(--borderpink);
}



.form-horizontal .form-control-file,
.form-horizontal .form-control {
    width:75%
}

/* field */
.form-control-file{
    padding: 0;
}

.form-control::placeholder{
    color: #d4d4d4;
    font-size:var(--fontsize-content);
    font-weight:var(--fontweight-content);
}

.form-control:valid {
    color:var(--gray);
    background: var(--whitepink);
}

.form-control.is-invalid {
      border: 1.5px solid #ffa19e;
      background:var(--white);
}

.form-control.is-valid {
    background: #fefbfc;
    border: 1.5px solid #ebe0e4;
}

.form-control.is-valid:focus,
.form-control:focus {
  border: 2px solid var(--borderpink);
  box-shadow: 0 0 2.5px var(--borderpink);
}
.form-control.is-invalid:focus{
  border: 2px solid #f39a95;
  box-shadow: 0 0 2.5px #f39a95;
}



.valid-feedback,
.invalid-feedback {
  display: block;
  margin-top: 0.7rem;
  margin-left: 0.3rem;
  color: #e05652;
  font-size: var(--fontsize-detail);
  font-weight: var(--fontweight-content)
}


.valid-feedback{
  color: #94d1a8;
}

.textarea{
    height: 9rem;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    padding-top:0.8rem;
}

.fileinput,
.dateinput,
.select,
.textinput,
.textinput-nolabel{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height: var(--height-form);
}
.textinput-nolabel{
    margin-top:1.5rem;
}

.dateinput{
    justify-content:flex-start;
}


input[type="file"]::-webkit-file-upload-button {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background:#ecedee;
    border: none;
    border-radius: 0;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    width:6.5rem;
    height:calc(var(--height-form) - 3px);
    cursor: pointer;
    color: var(--black);
    font-size: var(--fontsize-detail);
    font-weight: var(--fontsize-content);
    margin-right:1rem;
}

input[type="file"]::file-selector-button {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background:#ecedee;
    border: none;
    border-radius: 0;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    width:6.5rem;
    height: var(--height-form);
    cursor: pointer;
    color: var(--black);
    font-size: var(--fontsize-detail);
    font-weight: var(--fontsize-content);
    margin-right:1rem;
}

 input[type="file"]::-ms-browse {
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background:#ecedee;
    border: none;
    border-radius: 0;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    width:6.5rem;
    height: var(--height-form);
    cursor: pointer;
    color: var(--black);
    font-size: var(--fontsize-detail);
    font-weight: var(--fontsize-content);
    margin-right:1rem;
}

/* check */
form .form-check {
    padding-left: 0;
    background: none;
}
form .form-check .form-check-label {
    margin-bottom: 0;
    position: relative;
}

.checkbox {
    display: none;
}

/* field */
.checkbox-unchecked,
.checkbox-checked{
    color: var(--white);
    font-weight: var(--fontweight-bold);
    font-size:1.23rem;
    width: 1.6rem;
    height: 1.6rem;
    background: var(--gray);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    flex-shrink: 0;
    border-radius: 0.3rem;
}
.checkbox-unchecked{
    border:1.5px solid var(--gray);
    background:none;
    color:var(--gray);
    font-weight: var(--fontweight-bold);

}
/* selectmultiple */
.label-selectmultiple,
.selectmultiple label{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height:2.6rem;
    margin: 2.7rem 0 1.2rem 0;
    width: 100%;
    border:1.5px solid var(--borderpink);
    background:var(--white);
    color:var(--gray);
    font-weight: var(--fontweight-bold);
    border-radius: 0.5rem;
    font-size:1.2rem;
    flex-shrink: 0;
}
.selectmultiple .form-check {
    margin: 0;
    padding:0;
    flex-shrink: 0;
    width: 2.6rem;
}
/* countdown*/
.form-verify{
    position: relative;
}
.form-verify .text-countdown{
    position: absolute;
    top:2.6rem;
    left:6.5rem;
    color: var(--red);
    font-size: var(--fontsize-detail);
    font-weight: var(--fontweight-bold);
}