.frame{
    width:100%;
    padding:4rem var(--padding-frame) 1rem var(--padding-frame);
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}

.frame-slide{
    width: 100%;
    padding:3rem var(--padding-frame) 0 var(--padding-frame);
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}



.frame-centralize{
    padding:4.5rem var(--padding-frame) calc(var(--height-header) + 4.5rem) var(--padding-frame);
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.frame-centralize .spacing-title{
    justify-content: center;
    padding-right:0;
    margin-bottom:1rem;
}
.frame-centralize .text-title{
    font-weight: var(--fontweight-index);
    font-size: 2rem;
    padding-left: 0.7rem;
}
.frame-centralize .text-index{
    font-size: 1.8rem;
    font-weight: var(--fontweight-content);
}

.frame-centralize .text-content-bold,
.frame-centralize .text-content{
    font-size: var(--fontsize-index);
}
.frame-centralize .img-title{
    width: 2rem;
    height: 2rem;
    margin-left: 0.7rem;
    object-fit: cover;
}
.frame-centralize .text-emphasize{
    font-weight: inherit;
    color: var(--middlepink);
    font-size: inherit;
}
.frame-centralize .item-guide{
    width: 100%;
    text-align: center;
}

.frame-centralize .btn-nav{
    margin-top:2rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    width:80%;
    background:var(--black);
    color:var(--white);
    height: 5rem;
    font-size: var(--fontsize-bold);
    border-radius: 2.5rem;
    border:1.5px solid #636363;
    box-shadow: 0 3px 10px #c7c8cc;
    font-weight:var(--fontweight-content);
}
@media screen and (min-width: 800px) {
    .frame-centralize .btn-nav{
        width:60%;
    }
}

/* sentmailbox */

/* setting */
.frame-setting .container{
    padding: 0;
    box-shadow: none;
    border:none
}

.frame-setting .text-content{
    color: var(--black);
}

.frame-setting .item-last-child,
.frame-setting .item {
    border-bottom:2px solid var(--lightpink);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem var(--padding-content);
    width: 100%;
}

.frame-setting .item-last-child{
    border-bottom:none;
}

.frame-setting .icon-symbol {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: var(--fontweight-content);
}

.frame-setting .icon-arrow {
    font-size: 1.9rem;
    color: var(--black);
    font-weight: var(--fontweight-index);
}


/* homescreen */


.frame-homescreen{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    padding:5rem var(--padding-frame) ;
    background: var(--white);
    position: relative;
    z-index: 0;
}



.frame-homescreen .text-title{
    text-align: center;
    font-weight:var(--fontweight-bold);
}


.frame-homescreen .text-index{
    font-weight: var(--fontweight-content);
}



.frame-homescreen .btn-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 5rem;
        color: var(--white);
        background: var(--blackgray);
        border-radius:2.5rem;
        padding-right: 2%;
        padding-left: var(--padding-content);
        width: 95%;
        margin-top: 4.5rem;
        font-size: var(--fontsize-bold);
        font-weight: var(--fontweight-content);
        box-shadow: var(--shadow-btn-white);
        border:1.5px solid #636363;
        justify-content: space-between;
    }
.frame-homescreen .btn-nav .icon-nav{
        width: 4.1rem;
        height: 4.1rem;
        background: var(--black);
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        font-weight:400;
        padding-left: 0.2rem;
        color: var(--white);
}



.frame-homescreen .container{
    align-items: center;
    margin-top: 3rem;
}
/* letter 관리 */
.frame-letter{
    padding-top:0.5rem;
    --height-form:5rem;
    padding-left: calc(var(--padding-frame) + 5%);
    padding-right: calc(var(--padding-frame) + 5%);
}
