.frame{
    width:100%;
    padding:4rem var(--padding-frame) 1rem var(--padding-frame);
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}


.frame-top{
    padding-top:3rem;
}


.frame-centered{
    padding:3rem var(--padding-frame) calc(var(--height-header) + 3rem) var(--padding-frame);
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.frame-centered .spacing-title{
    justify-content: center;
    padding-right:0;
    padding-left:0.7rem;
    margin-bottom:1rem;
}

.frame-centered .text-title-bold{
    font-size: 1.95rem;
    padding-left: 0.7rem;
}

.frame-centered .text-title{
    font-size: 1.77rem;
    text-align: center;
}


.frame-centered .text-emp{
    font-weight: inherit;
    color: var(--middlepink);
    font-size: inherit;
}
.frame-centered .img-title{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    object-fit: cover;
}

.frame-centered .btn-nav{
    margin-top:2rem;
    width:80%;
    height: 5rem;
}
@media screen and (min-width: 800px) {
    .frame-centered .btn-nav{
        width:60%;
    }
}



/* setting */
.frame-setting .container{
    padding: 0;
    box-shadow: none;
    border:none
}

.frame-setting .text-content{
    color: var(--black);
}

.frame-setting .item-last-child,
.frame-setting .item {
    border-bottom:2px solid var(--lightpink);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem var(--padding-content);
    width: 100%;
}

.frame-setting .item-last-child{
    border-bottom:none;
}

.frame-setting .icon{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: var(--fontweight-content);
}

.frame-setting .icon-arrow {
    font-size: 1.9rem;
    color: var(--black);
    font-weight: var(--fontweight-bold);
}

/* homescreen */
.frame-homescreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5rem var(--padding-frame);
    background: var(--white);
    position: relative;
    z-index: 0;
}
.frame-homescreen .container-top{
    margin-top:3rem
}

.frame-homescreen .text-title-bold{
    text-align: center;
}

.frame-homescreen .decoration{
    position: absolute;
    z-index: -1;
}
.frame-homescreen .btn-nav{
        height: 5rem;
        background: var(--blackgray);
        padding-right: 2%;
        padding-left: var(--padding-content);
        width: 95%;
        z-index: 99;
        margin-top: 4.5rem;
        justify-content: space-between;
        box-shadow: var(--shadow-btn-white);
    }

.frame-homescreen .btn-nav .icon{
        width: 4.1rem;
        height: 4.1rem;
        background: var(--black);
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        font-weight:400;
        padding-left: 0.2rem;
        color: var(--white);
}



/* letter 관리 */
.frame-quiz,
.frame-letter{
    width: 100%;
    padding-top:0.5rem;
    --height-form:5rem;
    padding-left: calc(var(--padding-frame) + 5%);
    padding-right: calc(var(--padding-frame) + 5%);
}

.frame-quiz{
    padding-top: 1rem;
}
.frame-quiz .form-group label {
    margin-bottom: 1.3rem;
    font-size: var(--fontsize-title);
}

.frame-quiz .form-group:first-of-type label {
    margin-top: 0
}
.frame-quiz .form-group {
    margin-top: 1.5rem;
}

.frame-quiz .item-count{
    position: absolute;
    top:2.63rem;
    left: 7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.frame-quiz .text-count{
    font-size: var(--fontsize-content);
    font-weight: var(--fontweight-content);
    color: var(--middlepink);
    margin-right: 0.5rem;
}
.frame-quiz .icon-right{
    font-weight: var(--fontweight-bold);
    font-size: 2.2rem;
    color: var(--black);
}


.frame-letter{
    width: 100%;
    padding-top:0.5rem;
    --height-form:5rem;
    padding-left: calc(var(--padding-frame) + 5%);
    padding-right: calc(var(--padding-frame) + 5%);
}