/* pink */

/* blue */
.tema-blue{
    --lightpink: #eef0fc;
    --gray:#74757b;
    --borderpink:#dbdeeb;
    --middlepink:#707ec2;
    --whitepink:#fbfbfe;
    background: var(--lightpink);
}

/* gray */
.tema-gray{
    --lightpink: #f3f3f7;
    --gray:#74757b;
    --borderpink:#d9dbe3;
    --middlepink:#8f92a3;
    --whitepink:#fcfcfd;
    background: var(--lightpink);
}

/* yellow */
.tema-yellow{
    --lightpink: #fcf7ed;
    --gray:#7b7974;
    --borderpink:#e8e2d4;
    --middlepink:#e4bb67;
    --whitepink:#fefdfb;
    background: var(--lightpink);
}

/* green */
.tema-green{
    --lightpink: #f0faf2;
    --gray:#747b77;
    --borderpink:#d6e6dc;
    --middlepink:#70c28b;
    --whitepink:#fbfefc;
    background: var(--lightpink);
}

/* purple */
.tema-purple{
    --lightpink: #f5eefc;
    --gray:#78747b;
    --borderpink:#ded6e6;
    --middlepink:#9970c2;
    --whitepink:#fdfbfe;
    background: var(--lightpink);
}

.tema-blue,
.tema-yellow,
.tema-green,
.tema-purple,
.tema-gray,
.tema-pink{
    background: var(--lightpink);
    --border-container:1.5px solid var(--borderpink);
    --shadow-container:0px 3px 13px var(--borderpink);
}
