

:root {
    --black:#333333;
    --white:white;
    --softgray:#b4b1b2;
    --whitegray:#f3f2f2;
    --gray:#666666;
    --blackgray:#5c5c5c;
    --red:#e46967;
    --green:#7ec897;
    --yellow:#fbce46;
    --orange:#edad5e;
    --blue:#7988d2;


    --fontsize-small:1.4rem;
    --fontsize-detail:1.5rem;
    --fontsize-content:1.6rem;
    --fontsize-index:1.65rem;
    --fontsize-title:1.72rem;


    --fontweight-content:400;
    --fontweight-bold:600;


    --border-container:1.5px solid var(--bordertheme);
    --border-btn:1.5px solid #636363;

    --shadow-container:0px 3px 13px var(--bordertheme);
    --shadow-container-dark:0px 3px 13px var(--blackgray);
    --shadow-btn-dark:0px 3px 10px #c7c8cc;
    --shadow-btn-white:0px 3px 10px #404040;

    --padding-frame:7%;
    --padding-content:7%;
    --padding-header:6%;

    --height-header:5.4rem;
    --height-body:calc(100vh - var(--height-header));
    --height-form:4.7rem;
    --border-radius-container:1.5rem;
    --border-radius-btn:1rem;
}


@media screen and (min-width: 800px) {
  :root {
    --padding-frame:22%;
    --padding-header:21.5%;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --padding-frame:30%;
    --padding-header:29%;
    --padding-content:11%;
  }
}


