

:root {
    --black:#333333;
    --white:white;
    --softpink:#f2b5ca;
    --borderpink:#ebdbe0;
    --lightpink:#fceef2;
    --middlepink:#e87d8f;
    --gray:#7b7477;
    --softgray:#b4b1b2;
    --whitegray:#f3f2f2;
    --whitepink:#fefbfc;
    --blackgray:#5c5c5c;
    --red:#e96563;
    --green:#7fc797;
    --yellow:#fbce46;
    --orange:#F29B30;


    --fontsize-small:1.4rem;
    --fontsize-detail:1.5rem;
    --fontsize-content:1.6rem;
    --fontsize-index:1.65rem;
    --fontsize-title:1.7rem;
    --fontsize-bold:1.73rem;
    --fontsize-emphasize:1.85rem;


    --fontweight-content:500;
    --fontweight-index:600;
    --fontweight-title:700;
    --fontweight-bold:900;


    --border-container:1.5px solid var(--borderpink);
    --shadow-container:0px 3px 13px var(--borderpink);
    --shadow-container-dark:0px 3px 13px var(--blackgray);
    --shadow-btn-dark:0px 3px 10px #c7c8cc;
    --shadow-btn-white:0px 3px 10px #404040;

    --padding-frame:7%;
    --padding-header:6%;
    --padding-content:7%;
    --padding-footer:20%;

    --height-header:5.4rem;
    --height-body:calc(100vh - var(--height-header));
    --height-form:4.7rem;
    --padding-bottom:12rem;

    --border-radius-container:1.5rem;
}


@media screen and (min-width: 600px) {
  :root {
    --padding-frame:22%;
    --padding-header:21.5%;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --padding-frame:30%;
    --padding-header:29.5%;
    --padding-content:11%;
  }
}


