/* 이미지 관리 */
.frame-zoom{
    position:fixed;
    right:0;
    top:0;
    z-index:101;
    opacity:0;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: rgba(51, 51, 51, 0.9);
    width:100%;
    height:100%;
    display:none;
    transition: opacity 2s ease;
}

.frame-zoom .image-zoomed{
    max-width: 83vw;
    max-height: 83vh;
    border-radius:var(--border-radius-container)
}

.frame-zoom .icon-exit{
    position:fixed;
    right:1.5rem;
    top:1.5rem;
    font-weight:var(--fontweight-bold);
    display:flex;
    justify-content:center;
    align-items:center;
    width:2.6rem;
    height:2.6rem;
    font-size:2rem;
    background:var(--whitegray);
    color:var(--black);
    border-radius:50%;
    border:2px solid var(--black);
}


.frame-zoom .container{
    position: fixed;
    width: 85vw;
    max-width: 500px;
    border-radius:var(--border-radius-container);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    background:var(--whitepink);
    padding:0 0 3.5rem 0;
    box-shadow: var(--shadow-container-dark);
}

.frame-zoom .item-exit{
    width: 100%;
    height:4.2rem;
    border-top-left-radius:  var(--border-radius-container);
    border-top-right-radius:var(--border-radius-container);
    background:var(--lightpink);
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
    padding-right:0.8rem;
    font-weight:400;
    font-size:2.3rem;
    color:var(--black);
}


.frame-zoom .text-title-bold{
    margin-top:2.5rem;
    margin-bottom: 1.5rem;
}

.frame-zoom .btn-nav{
    margin-top:1.3rem;
    width:75%;
    height: 4.6rem;
}


.frame-zoom .text-title{
    width: 100%;
    margin-bottom: 1rem;
    text-align: left;
    color: var(--gray);
}

.frame-zoom .item{
    width: fit-content;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-start;
    padding-right: 0.5rem;
}




.frame-zoom .icon {
    font-size: 1.6rem;
    color: var(--middlepink);
    font-weight: var(--fontweight-bold);
    margin-right: 0.7rem;
}

