{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-empty " >
        {% if target_letter.progress == 'done' %}
        {%  url 'letterapp:result' pk=target_letter.pk as url %}
        {% else %}
        {%  url 'homescreenapp:createguide'  as url %}
        {% endif %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>


<main >
  <div class="frame-letter">
        {% include 'snippets/progress.html' %}
        {% include 'snippets/progressinfo.html' %}
        {% if target_info.letter.progress == 'progress1' %}
      <form class="form-horizontal" action="{% url 'letter_infoapp:update' pk=target_info.pk %}"
        method="post" onsubmit="return confirmCreateLetter()">
        {% else %}
      <form class="form-horizontal" action="{% url 'letter_infoapp:update' pk=target_info.pk %}"
        method="post">
        {% endif %}
        {% csrf_token %}{% bootstrap_form form %}
        <input type="submit" class="btn-submit-fixed"  value="다음 단계로!">
      </form>
  </div>
</main>

<script>
    function confirmCreateLetter() {
        var confirmMessage = "이제 편지 내용을 채워볼까요?";
        return confirm(confirmMessage);
    }

</script>
{% endblock %}

