<style>
    #snippet-introletter {
        width: 100%;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    }

    #snippet-introletter .spacing-horizontal {
        justify-content: space-between;
    }

    #snippet-introletter .text-lettertitle {
        font-weight: var(--fontweight-content);
    }


    #snippet-introletter .text-date {
        background: var(--gray);
        font-size: var(--fontsize-small);
        color: var(--white);
        padding:0.15rem 1rem;
        border-radius: 0.5rem;
    }

    #snippet-introletter .interval-title {
        margin-top: 0.5rem;
        margin-bottom: 1.2rem;
    }


    #snippet-introletter .item-arrow-right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        display: inline-block;
        position: absolute;
        background: transparent;
        top: 50%;
        transform: translateY(-50%);
    }

    #snippet-introletter .item-arrow-right {
        border-left: 14px solid var(--white);
        right: -13px;
    }


    #snippet-introletter .icon-star2,
    #snippet-introletter .icon-star3,
    #snippet-introletter .icon-star1 {
        position: absolute;
        font-weight: 600;
    }
    #snippet-introletter .icon-star1 {
        right: 8%;
        top:3rem;
        font-size: 1.3rem;
        color: var(--middlepink);
        transform: rotate(-45deg);
    }
    #snippet-introletter .icon-star2 {
        right: 18%;
        top:2rem;
        font-size: 1.4rem;
        color:var(--borderpink);
        transform: rotate(-25deg);
    }
    #snippet-introletter .icon-star3 {
        right: 38%;
        top:7rem;
        font-size: 0.9rem;
        color:var(--middlepink);
        transform: rotate(-15deg);
    }

</style>
<a href="{% url 'letter_quizapp:verify' pk=initial_letter.pk %}" class="container-snippets container-right"  id="snippet-introletter">
    <div class="item-arrow-right"></div>
    <span class="icon-star1 material-icons">grade</span>
    <span class="icon-star2 material-icons">grade</span>
    <div class="spacing-horizontal">
        <span class="text-index">{{ target_letter.letter_info.receiver_name }}</span>
    </div>
    <div class="text-index text-lettertitle interval-title">
        {{ target_letter.letter_info.title|truncatechars:23 }}
    </div>
    <div class="spacing-horizontal">
        <div class="text-content text-date">
            {{ target_letter.letter_info.written_at|date:"m월 d일"  }}
        </div>
        <span class="text-index">{{ target_letter.letter_info.sender_name }}</span>
    </div>
</a>