<style>
    #snippet-introletter{
        width:100%;
        box-shadow: none;
        border:none;
        margin-top:2rem;
        padding-top:1.7rem;
        padding-bottom: 1.7rem;
    }

    #snippet-introletter .spacing-horizontal{
        justify-content: space-between;
    }
    #snippet-introletter .text-date{
        color: var(--softgray);
        font-size: var(--fontsize-detail);
    }



    #snippet-introletter .interval-tile {
    }


    #snippet-introletter .item-arrow-right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        display: inline-block;
        position: absolute;
        background: transparent;
        top:50%;
        transform: translateY(-50%);
    }

    #snippet-introletter .item-arrow-right{
        border-left: 14px solid var(--white);
        right: -13px;
    }



    @media screen and (min-width: 800px) {
        #snippet-introletter{
            width: 65%;
        }
    }    
</style>
<a href="{% url 'letter_quizapp:verify' pk=initial_letter.pk %}" class="container-snippets container-right" id="snippet-introletter">
    <div class="item-arrow-right"></div>
    <div class="text-content interval-tile" style="color: var(--black)">
        {{ target_letter.letter_info.title|truncatechars:23 }}
    </div>
    <div class="spacing-horizontal">
        <div class="text-content text-date" >
            {{ target_letter.letter_info.written_at|date:"m월 d일"  }}
        </div>
    </div>
</a>