<style>
    #snippet-letter {
        margin-bottom: 3rem;
    }

    #snippet-letter .container-snippets {
        width: 76%;
    }

    #snippet-letter .item-id {
        background: var(--softgray);
        padding: 0.15rem 0.7rem;
        border-radius: 0.5rem;
        margin-left: auto;
    }
    #snippet-letter .item-id .text{
        font-weight: var(--fontweight-content);
        font-size: 1.3rem;
        color: var(--white);
    }

    #snippet-letter .text-date {
        color: var(--softgray);
        font-size: var(--fontsize-detail)
    }


    #snippet-letter .container-right {
        margin-left: auto;
    }

    #snippet-letter .container-left {
        margin-right: auto;
    }

    #snippet-letter .text-letter{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: var(--black);
    }


    #snippet-letter .icon-right,
    #snippet-letter .icon-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        display: inline-block;
        position: absolute;
        background: transparent;
        top: 50%;
        transform: translateY(-50%);
    }

    #snippet-letter .icon-right {
        border-left: 14px solid var(--white);
        right: -13px;
    }

    #snippet-letter .icon-left {
        border-right: 14px solid var(--white);
        left: -13px;
    }


    #snippet-letter .item-face{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 50%;
        flex-shrink: 0;
    }

    #snippet-letter .item-face .img-christmas,
    #snippet-letter .item-face .img{
        object-fit: cover;
        width: 3.5rem;
        height: 3.5rem;
        position: relative;
        top: 0.1rem;
    }
    #snippet-letter .item-face .img-christmas{
        width: 3.1rem;
        height: 3.1rem;
    }

    @media screen and (min-width: 800px) {
        #snippet-letter .container-snippets {
            width: 85%;
            padding-left: 8%;
            padding-right: 8%;
        }
    }
</style>
<div class="spacing-horizontal-stretch" id="snippet-letter">
    {% if forloop.counter|divisibleby:2 %}
        <div class="item-face">
            <img class="img" src='/static/icons/{{ target_user.character }}/face{{ letter.character_number }}.png'>
        </div>
    {% endif %}

    {% if forloop.counter|divisibleby:2 %}
        <a href="{% url 'letterapp:result' pk=letter.pk %}" class="container-snippets container-right">
        <div class="icon-left"></div>
    {% else %}
        <a href="{% url 'letterapp:result' pk=letter.pk %}" class="container-snippets container-left">
        <div class="icon-right"></div>
    {% endif %}
    <div class="spacing-horizontal-stretch">
        <span class="text-content-bold">{{ letter.letter_info.receiver }}</span>
        <div class="item-id">
            <span class="text">{{ letter.state_text }}</span>
        </div>
    </div>
    <div class="text-content text-letter">
        {{ letter.letter_info.title|truncatechars:23 }}
    </div>
    <div class="spacing-horizontal-stretch">
        <div class="text-content text-date">
            {{ letter.finished_before }}
        </div>
        <span class="text-content">{{ letter.letter_info.sender }}</span>
    </div>
    </a>

    {% if not forloop.counter|divisibleby:2 %}
        <div class="item-face">
            <img class="img" src='/static/icons/{{ target_user.character }}/face{{ letter.character_number }}.png'>
        </div>
    {% endif %}
</div>