{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
#letter-detail{
    padding-bottom:10rem;
}
</style>

<header>
        {% if is_user_related %}
            {% include 'headersnippets/like.html' %}
        {% else %}
            {% include 'letterapp/detailsnippets/checkguide.html' %}
        {% endif %}
        {% if user == target_letter.writer %}
            {%  url 'letterapp:writeinfo' pk=target_letter.pk as url %}
        {% elif user == target_letter.saver %}
            {%  url 'letterapp:saveinfo' pk=target_letter.pk as url %}
        {% else %}
            {%  url 'letterapp:intro' pk=target_letter.pk as url %}
        {% endif %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>

<main id="letter-detail">
    {% include 'letterapp/detailsnippets/info.html' %}
    {% include 'letterapp/detailsnippets/content.html' %}
    {% include 'letterapp/detailsnippets/saveguide.html' %}
</main>
{% include 'letterapp/detailsnippets/footer.html' %}
{% endblock %}
