{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
#letter-detail{
    padding-bottom:6rem;
}

</style>

<header id="header-letter-detail">
        {% if user == target_letter.sender or user == target_letter.receiver %}
        {% include 'headersnippets/like.html' %}
        {% endif %}
        {%  url 'letterapp:intro' pk=target_letter.pk as url %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>
<main class="tema-{{ letter_content.tema }}" id="letter-detail">
    {% include 'letterapp/detailsnippets/intro.html' %}
    {% include 'letterapp/detailsnippets/content.html' %}
    {% include 'letterapp/detailsnippets/warning.html' %}
</main>
<div style="height: 6rem" class="tema-{{ letter_content.tema }} "></div>
{% include 'letterapp/detailsnippets/footer.html' %}
{% endblock %}
