{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
#letter-detail{
    padding-bottom:10rem;
}
</style>

<header>
        {% include 'letterapp/lettersnippets/checkguide.html' %}
        {%  url 'letterapp:intro' pk=target_letter.pk as url %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>

<main id="letter-detail">
    {% include 'letterapp/lettersnippets/info.html' %}
    {% include 'letterapp/lettersnippets/content.html' %}
    {% include 'letterapp/lettersnippets/saveguide.html' %}
</main>
{% include 'letterapp/lettersnippets/footer.html' %}
{% endblock %}
