{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
#letter-preview{
    padding-bottom:6rem;
    width: 100%;
    flex-shrink: 0;
}
</style>

<header>
    {% include 'headersnippets/like.html' %}
    {%  url 'letterapp:result' pk=target_letter.pk as url %}
    {% include 'headersnippets/exit.html' with url=url %}
</header>

<main style="padding-bottom:4rem;">
    <div id="letter-preview" class="tema-{{ tema }}">
        {% include 'letterapp/lettersnippets/info.html' %}
        {% include 'letterapp/lettersnippets/content.html' %}
    </div>
    {% include 'letterapp/lettersnippets/screenshot.html' %}
</main>
{% endblock %}
