{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header">
        {%  url 'accountapp:sentmailbox' pk=user.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}
</header>

<main>
    {% include 'letterapp/savedlistsnippets/navbar.html' %}
    <div class="frame frame-list">
        <div class="slide page-slide1" style="display:block; width: 100%">
            {% with letters=letters %}
            {% include 'letterapp/savedlistsnippets/list.html' %}
            {% endwith %}
        </div>
        <div class="slide page-slide2" style="display:none">
            {% with letters=letters_liked %}
            {% include 'letterapp/savedlistsnippets/list.html' %}
            {% endwith %}
        </div>
    </div>
</main>

{% endblock %}

