{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}


<header class="header-empty" >
    {% if from == 'savelist' %}
    {%  url 'accountapp:savelist' pk=user.pk as url %}
    {% else %}
    {%  url 'homescreenapp:intro'  as url %}
    {% endif %}
    {% include 'headersnippets/back.html' with url=url %}
</header>
    <main>
        {% include 'letterapp/searchsnippets/guide.html' %}
        {% include 'letterapp/searchsnippets/post.html' %}
    </main>
{% endblock %}

