{% load bootstrap4 %}
<style>
#letter-urlsearch-form{
    padding-top:0
}
#letter-urlsearch-form .icon-paste {
    position: absolute;
    top:1.3rem;
    right: 1rem;
    background: var(--gray);
    border-radius: 0.5rem;
    padding:0.6rem 0.5rem;
    color: var(--white);
    font-weight: 400;
    font-size: 1.35rem;
}
</style>
<div class="frame-letter " id="letter-urlsearch-form">
      <form action="{% url 'letterapp:search' %}?type=url" method="post" style="position: relative">
        {% csrf_token %}{% bootstrap_form form %}
          <button onclick="pasteClipboard()" class="icon-paste material-icons">content_paste</button>
        <input type="submit" class="btn-submit-fixed"  value="링크로 편지 찾기">
      </form>
</div>

<script>
 function pasteClipboard() {
    var pasteText = prompt("복사한 링크를 입력해 주세요!", "");
    if (pasteText != null && pasteText.startsWith('https://tinyurl.com/')) {
        document.querySelector('.field-letter_url').value = pasteText;
    } else {
        document.querySelector('.field-letter_url').value = '';
    }
}
</script>