<style>
    #letter-search-guide {
        padding-top:2rem;
    }
    #letter-search-guide .spacing-title {
        margin-bottom: 2.5rem;
    }
    #letter-search-guide .spacing-horizontal{
        padding-bottom: 0.7rem;
    }
    #letter-search-guide  .icon {
        font-size: 1.6rem;
        color: var(--maintheme);
        font-weight: var(--fontweight-bold);
        margin-right: 1rem;
    }

    #letter-search-guide .text-index {
        color: var(--gray);
    }

</style>
<div class="frame-letter" id="letter-search-guide">
    <div class="spacing-title">
    <span class="text-title-bold">링크를 받으셨나요?<br>
    편지를 해결하고 저장해요!</span>
    </div>
    <div class="spacing-horizontal">
        <span class="icon material-icons">done</span>
        <span class="text-index">받은 편지의 링크를 검색해요</span>
    </div>
    <div class="spacing-horizontal">
        <span class="icon material-icons">done</span>
        <span class="text-index">질문을 해결하고 내용을 확인!</span>
    </div>
    <div class="spacing-horizontal">
        <span class="icon material-icons">done</span>
        <span class="text-index">편지가 사라지기 전 저장해요</span>
    </div>
</div>