<style>
    #letter-search-guide {
        padding-top:4rem;
        padding-bottom: 2.5rem;
    }

    #letter-search-guide .text-title {
        font-size: 1.8rem;
        font-weight: var(--fontweight-index);
    }

    #letter-search-guide .spacing-title {
        margin-bottom: 2.5rem;

    }

    #letter-search-guide .icon-number {
        font-size: 1.6rem;
        color: var(--middlepink);
        font-weight: var(--fontweight-index);
        margin-right: 1rem;
    }

    #letter-search-guide .text-content {
        font-size: var(--fontsize-bold);
    }

    #letter-search-guide .spacing-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0.7rem;
    }
</style>
<div class="frame-letter " id="letter-search-guide">
    <div class="spacing-title">
    <span class="text-title">링크를 받으셨나요?<br>
    편지를 해결하고 저장해요!</span>
    </div>
    <div class="spacing-content">
        <span class="icon-number material-icons">done</span>
        <span class="text-content">검색하고 해결해서 편지를 확인!</span>
    </div>
    <div class="spacing-content">
        <span class="icon-number material-icons">done</span>
        <span class="text-content">편지가 사라지지 않게 저장하고</span>
    </div>
    <div class="spacing-content">
        <span class="icon-number material-icons">done</span>
        <span class="text-content">이미지로 다운 받을 수 있어요</span>
    </div>
</div>