<style>
    #letter-create-guide {
        padding-top:3rem;
    }
    #letter-create-guide .spacing-title {
        margin-bottom: 2.5rem;
    }
    #letter-create-guide .spacing-horizontal{
        padding-bottom: 0.7rem;
    }
    #letter-create-guide  .icon {
        font-size: 1.6rem;
        color: var(--maintheme);
        font-weight: var(--fontweight-bold);
        margin-right: 1rem;
    }

    #letter-create-guide .text-index {
        color: var(--gray);
    }

</style>
<div class="frame-letter" id="letter-create-guide">
    <div class="spacing-title">
    <span class="text-title-bold">편지를 작성하기 전<br>
        가이드를 확인해 주세요!</span>
    </div>
    <div class="spacing-horizontal">
        <span class="icon material-icons">done</span>
        <span class="text-index">편지 작성 후 링크를 공유하고</span>
    </div>
    <div class="spacing-horizontal">
        <span class="icon material-icons">done</span>
        <span class="text-index">편지 저장 전까지 삭제/수정해요!</span>
    </div>
    <div class="spacing-horizontal">
        <span class="icon material-icons">done</span>
        <span class="text-index">편지는 확인하고 1일 후 사라져요!</span>
    </div>
    <div class="spacing-horizontal">
        <span class="icon material-icons">done</span>
        <span class="text-index">편지가 사라지지 않게 저장해요</span>
    </div>
</div>