<div class="frame frame-setting">
    <div class="spacing-title">
        <span class="text-title">계정 관리</span>
    </div>
    <div class="container">
        <a href="{% url 'accountapp:usernameupdate' pk=target_user.pk %}" class="item">
            <span class="text-content">아이디 변경</span>
            <span class="material-icons icon-symbol" style="font-size:1.7rem;">manage_accounts</span>
        </a>
        <a href="{% url 'accountapp:passwordupdate' pk=target_user.pk %}" class="item">
            <span class="text-content">비밀번호 변경</span>
            <span class="material-icons icon-symbol" style="font-size:1.65rem;">key</span>
        </a>
        <a href="{% url 'accountapp:logout' %}" class="item">
            <span class="text-content">로그아웃</span>
            <span class="material-icons icon-symbol" style="font-weight:var(--fontweight-index);">logout</span>
        </a>
        <a href="{% url 'accountapp:delete' pk=target_user.pk %}" class="item-last-child" >
            <span class="text-content">계정 삭제</span>
            <span class="material-icons icon-symbol" style="font-size:1.8rem;">delete_forever</span>
        </a>
    </div>
</div>

