<div class="frame frame-setting">
    <div class="spacing-title">
        <span class="text-title">기본 설정</span>
    </div>
    <div class="container">
        <a href="{% url 'phonenumberapp:create' %}?type=update" class="item">
            <span class="text-content">연락처 변경</span>
            <span class="material-icons icon-symbol">call</span>
        </a>
        {% if target_user.can_receive_notification == True %}
        <a id="tonotificationdisable" href="{% url 'accountapp:notificationupdate' %}?user_pk={{ target_user.pk }}"
           class="item-last-child">
            <span class="text-content">알림 수신중</span>
            <span class="material-icons icon-symbol">notifications</span>
        </a>
        <script>
            const tonotificationdisable = document.getElementById('tonotificationdisable');
            tonotificationdisable.addEventListener('click', confirmtonotificationdisable);

            function confirmtonotificationdisable(event) {
                if (confirm("문자 알림을 수신 중단하시겠습니까?")) {
                    // Allow the navigation to proceed
                    window.location.href = event.target.href;
                } else {
                    // Prevent the default navigation behavior
                    event.preventDefault();
                }
            }
        </script>

        {% else %}
        <a id="tonotificationable" href="{% url 'accountapp:notificationupdate' %}?user_pk={{ target_user.pk }}"
           class="item-last-child">
            <span class="text-content">알림 받지 않음</span>
            <span class="material-icons icon-symbol">notifications_off</span>
        </a>

        <script>
            const tonotificationable = document.getElementById('tonotificationable');
            tonotificationable.addEventListener('click', confirmtonotificationable);

            function confirmtonotificationable(event) {
                if (confirm("문자 알림을 수신하시겠습니까?")) {
                    // Allow the navigation to proceed
                    window.location.href = event.target.href;
                } else {
                    // Prevent the default navigation behavior
                    event.preventDefault();
                }
            }
        </script>
        {% endif %}
    </div>
</div>



