{% load static %}
<div class="frame frame-setting">
    <div class="spacing-title">
        <span class="text-title-bold">기본 설정</span>
    </div>
    <div class="container">
        <a href="{% url 'verificationapp:create' %}?type=update" class="item">
            <span class="text-content">연락처 변경</span>
            <span class="material-icons icon">call</span>
        </a>
        <a href="{% url 'accountapp:usernameupdate' pk=target_user.pk %}" class="item-last-child">
            <span class="text-content">아이디 변경</span>
            <span class="material-icons icon" style="font-size:1.7rem;">manage_accounts</span>
        </a>
    </div>
</div>
<script src="{% static 'js/confirm.js' %}"></script>


