{% load static %}
{% if ongoing_letter %}
<button onclick="closeZoom(1)" id="frame-zoom1" class="frame-zoom" style="display: flex; opacity: 1">
    <div class="container">
        <div class="item-exit material-icons">
            cancel
        </div>
        <span class="text-title-bold" >
            확인하시던 편지가 있어요!
        </span>
        <span class="text-title" style="text-align: center">
            편지로 바로 이동하시겠어요?
            </span>
        <a href="{% url 'letterapp:detail' pk=ongoing_letter.pk %}"  id="btn-loading1"
           onclick="startLoading(1, event)" class="btn-nav">편지 바로가기</a>
    </div>
</button>
<div id="loading" class="loading">
    <div class="spinner-white"></div>
</div>
{% endif %}
<script src="{% static 'js/showZoom.js' %}"></script>
<script src="{% static 'js/startLoading.js' %}"></script>
