{% load bootstrap4 %}

<style>
    #homescreen-intro-navbar{
        padding-top:2rem;
        padding-bottom:6rem;
        justify-content: flex-start;
        align-items: flex-start;
        background: var(--black);
    }


    #homescreen-intro-navbar .text-logo{
        font-weight: var(--fontweight-bold);
        font-size: 2.3rem;
        color:var(--white);
    }
    #homescreen-intro-navbar .text-logo-xoxo {
        font-size: 2.6rem;
        font-weight: var(--fontweight-bold);
        color: #f8bfd1; /*var(--formtheme)*/
        padding-left: 0.5rem;
    }
    #homescreen-intro-navbar .text-introduce {
        margin-top: 1.2rem;
        font-weight: var(--fontweight-content);
        font-size: var(--fontsize-title);
        color: var(--white);
    }
    #homescreen-intro-navbar .icon-star1,
    #homescreen-intro-navbar .icon-star2,
    #homescreen-intro-navbar .icon-star4,
    #homescreen-intro-navbar .icon-star3 {
        position: absolute;
        font-weight: 600;
    }
    #homescreen-intro-navbar .icon-star1 {
        right: 20%;
        top:-0.5rem;
        font-size: 1.9rem;
        color: #fef2cd;
        transform: rotate(-45deg);
    }
    #homescreen-intro-navbar .icon-star2 {
        right: 10%;
        top:1.5rem;
        font-size: 1.3rem;
        color:#feebb4;
        transform: rotate(-25deg);
    }

    #homescreen-intro-navbar .icon-star3 {
        left: 40%;
        top:-3rem;
        font-size: 1.6rem;
        color: #fef2cd;
        transform: rotate(18deg);
    }
    #homescreen-intro-navbar .icon-star4 {
        left: 5%;
        top:1rem;
        font-size: 1.3rem;
        color: #fef5d8;
        transform: rotate(15deg);
    }

    #homescreen-intro-navbar .container-image{
        position: relative;
        margin-top:12rem;
        margin-bottom:1rem;
        width: 100%;
    }
    #homescreen-intro-navbar .container-title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        padding-left: 1rem;
    }
    #homescreen-intro-navbar .btn-nav{
        height: 5rem;
    }

    #homescreen-intro-navbar .img-lightbulb{
        position: absolute;
        width: 6.6rem;
        transform: rotate(-30deg);
        height:auto;
        object-fit: cover;
        bottom:1rem;/*bottom:0.5rem;*/
        left:1.5rem;
    }

    #homescreen-intro-navbar .img-letter{
        width: 9.6rem;/*width:8.5rem;*/
        height:auto;
        object-fit: cover;
        position: absolute;
        transform: rotate(20deg);/*transform: rotate(25deg);*/
        bottom:0rem;/*bottom:1.3rem;*/
        right:1.5rem;/*right:1.7rem;*/
    }
    #homescreen-intro-navbar .link{
        margin-top:3rem;
        display: flex;
        flex-direction:row;
        justify-content: center;
        padding-left: 0;
        margin-left: 0;
        align-items: center;
        width: 100%;
    }

    #homescreen-intro-navbar .link .text-content{
        font-size:var(--fontsize-title);
        color:var(--white);
    }

    #homescreen-intro-navbar .link .text-link{
        font-size:var(--fontsize-title);
        font-weight:var(--fontweight-content);
        color:#f8bfd1;/*var(--formtheme)*/
        text-decoration-color:#f8bfd1;/*var(--formtheme)*/
        text-decoration-thickness: 2px;
        margin-right:0.8rem;
        margin-left:0;
    }

    @media screen and (min-width: 800px) {
        #homescreen-intro-navbar .img-letter{
            width: 12rem;/*width: 11rem;*/
            bottom:0rem;/*bottom:0.6rem;*/
        }

        #homescreen-intro-navbar .container-title{
            padding-left: 1.3rem;
        }

    }
    @media screen and (min-width: 1100px) {
        #homescreen-intro-navbar .img-letter{
            width: 13rem;/*width: 12rem;*/
            bottom:0.5rem;/*bottom:1.7rem;*/
        }
        #homescreen-intro-navbar .img-lightbulb{
            width: 7.4rem;
        }
        #homescreen-intro-navbar .container-title{
            padding-left: 1.5rem;
        }
    }

</style>

<div class="frame-homescreen" id="homescreen-intro-navbar">
    <div class="container-title">
        <span class="icon-star1 material-icons">grade</span>
        <span class="icon-star2 material-icons">grade</span>
        <div class="spacing-horizontal">
            <div class="text-logo">From.</div>
            <span class="text-logo-xoxo" >XoXo</span>
        </div>
        <div class="text-introduce">
            나만의 편지를 작성하고<br>
            둘만의 질문으로 잠금해요!
        </div>
    </div>
    <div class="container-image">
        <img class="img-lightbulb" src='/static/icons/homescreen/bell.png'>
        <span class="icon-star3 material-icons">grade</span>
        <span class="icon-star4 material-icons">grade</span>
        <img class="img-letter" src='/static/icons/homescreen/gift.png'>
    </div>
    <a href="{% url 'letterapp:create' %}?from=homescreen" class="btn-nav" >편지를 작성해 볼까요?
        <span class="icon material-icons" style="font-size: 1.85rem;">outgoing_mail</span>
    </a>
    <a href="{% url 'letterapp:search' %}?from=homescreen" class="btn-nav" style="margin-top:2rem">링크로 편지를 검색해요!
        <span class="icon material-icons" >save_as</span>
    </a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'accountapp:writelist' pk=user.pk %}" class="link">
            <span class="text-link">내 편지함에서</span>
            <span class="text-content">저장한 편지를 관리해요!</span>
        </a>
    {% else %}
        <a href="{% url 'accountapp:login' %}" class="link">
            <span class="text-link">로그인하고</span>
            <span class="text-content">함께 시작해 볼까요?</span>
        </a>
    {% endif %}
</div>
