{% if type == 'update' %}
{% url 'accountapp:setting' pk=user.pk as url %}
{% else %}
{% url 'accountapp:login' as url %}
{% endif %}
{% include 'headersnippets/back.html' with url=url %}

{% if type == 'search' %}
    {% with title="비밀번호 재설정" %}
        {% include 'headersnippets/title.html' %}
    {% endwith %}
{% elif type == 'signup' %}
    {% with title="회원가입" %}
        {% include 'headersnippets/title.html' %}
    {% endwith %}
{% else %}
    {% with title="전화번호 변경" %}
        {% include 'headersnippets/title.html' %}
    {% endwith %}
{% endif %}
