{% load static%}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta property="og:title" content="From.XoXo">
    <meta property="og:type" content="website">
    {% if page == 'intro' %}
        <meta property="og:image" content="/static/images/letter.png">
        <meta property="og:description" content="{{ target_letter.letter_info.receiver }}님께 편지가 도착했어요!">
    {% else %}
        <meta property="og:image" content="/static/images/logo.png">
        <meta property="og:description" content="소중한 사람에게 전달하는 나만의 편지와 퀴즈">
    {% endif %}
    <meta property="og:url" content="www.fromxoxo.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <link rel="short icon" href="#">
    <title>From.XoXo</title>



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Gamja+Flower&family=Nanum+Pen+Script&family=Single+Day&display=swap" rel="stylesheet">


    <!--Letter google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Gamja+Flower&family=Nanum+Pen+Script&family=Single+Day&display=swap" rel="stylesheet">

    <!--부트스트랩링크-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">

    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>



    <!-- 구글 material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <!--css링크-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/zoom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/structure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/variable.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/element.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/frame.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tema.css' %}">
</head>