{% load static %}
<style>

    #letter-detail-content .container{
        box-shadow: none;
        border:none;
        padding-top:2rem;
        padding-bottom:2rem;
    }
    #letter-detail-content .text-content{
        letter-spacing: 0.15rem;
    }
    #letter-detail-content .text-title{
        font-size: var(--fontsize-bold);
        font-weight:var(--fontweight-index);
    }
    #letter-detail-content .text-index{
        font-size: var(--fontsize-title);
    }
    #letter-detail-content .spacing-sender{
        margin-left: auto;
        margin-top:3rem;
    }
    #letter-detail-content .spacing-receiver{
        margin-bottom: 2rem;
    }
    #letter-detail-content .text-date{
        margin-right: 1rem;
        color: var(--softgray);
        font-size: var(--fontsize-title);
        font-weight: var(--fontweight-content);
    }
    #letter-detail-content .item-image{
        width: 100%;
        height: 14rem;
        margin-bottom: 2rem;
        position: relative;
    }
    #letter-detail-content  .image-click {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: cover;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        transform: scaleX(-1);
    }
    #letter-detail-content .image-content{
        width: 100%;
        height: 100%;
        border-radius:1rem;
        border:1.5px solid #e3e3e3;
        box-shadow:0 3px 13px #e3e3e3;
        object-fit: cover;
    }
    @media screen and (min-width: 800px) {
        #letter-detail-content .item-image{
            height: 18rem;
        }
    }
    @media screen and (min-width: 1000px) {
        #letter-detail-content .item-image{
            height: 20rem;
        }
    }

</style>




<div class="frame " id="letter-detail-content">
    <div class="container">
    <span class="text-title spacing-receiver">{{ letter_info.title }}</span>
    {% if letter_content.image %}
        <button onclick="showImage()" class="item-image">
            <img class="image-content" src="{{ letter_content.image.url }}">
            <img class="image-click" src='/static/icons/etc/click.png'>
        </button>
        <button onclick="closeImage()" id="frame-zoom" class="frame-zoom">
            <div 
                class="btn-exit material-icons">close
            </div>
            <img class="image-zoomed" src="{{ letter_content.image.url }}">
        </button>
    {% endif %}
    <span class="text-content" >
        {{ letter_content.content|safe|linebreaksbr }}
    </span>
    <span class=" spacing-sender">
        <span class="text-date">{{ letter_info.written_at |date:"m월 d일" }}</span>
        <span class="text-index">{{ letter_info.sender_name }}</span>
    </span>
    </div>
</div>
<script src="{% static 'js/showimage.js' %}"></script>