{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<style>
.frame-footer{
    background: var(--blackgray);
    width: 100%;
    bottom:0;
    position: fixed;
    left: 0;
    padding:1.7rem var(--padding-frame);
}
.frame-footer .container-footer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background: transparent;
}
.frame-footer .text-title{
    color: var(--white);
    font-size: var(--fontsize-bold);
}

.frame-footer .btn-save{
    background: var(--black);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    color:var(--white);
    height: 6.7rem;
    width: 6.7rem;
    font-size:2.5rem;
    border-radius: 50%;
    font-weight:var(--fontweight-content);
    position: absolute;
    border:1.1rem solid var(--blackgray);
    right: 0rem;
    top:-3.2rem;
}
</style>
{% if not user.is_authenticated %}
    <button onclick="showGuide()" class="frame-footer">
        <div class="container-footer">
            <span class="text-title">
               로그인 후 편지 저장!
            </span>
            <div class="btn-save material-icons">
                cloud_download
            </div>
        </div>
    </button>
{% else %}
    {% if user != target_letter.sender and user != target_letter.receiver %}
    <a href="{% url 'letterapp:save' %}?letter_pk={{ target_letter.pk }}" class="frame-footer">
        <div class="container-footer">
            <span class="text-title">
                편지를 저장해요!
            </span>
            <div class="btn-save material-icons">
                cloud_download
            </div>
        </div>
    </a>
    {% else %}
    <button id="btn-download" class="frame-footer">
        <div class="container-footer">
            <span class="text-title">
                편지 스크린샷
            </span>
            <div class="btn-save material-icons">
                photo_camera
            </div>
        </div>
    </button>
    {% endif %}
{% endif %}

<script>
document.getElementById('btn-download').addEventListener('click', function() {
    html2canvas(document.querySelector("#letter-detail")).then(canvas => {
        // Create an image
        var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");

        // Create a link to download
        var link = document.createElement('a');
        link.download = 'letterimage.png';
        link.href = image;
        link.click();
    });
});
</script>