{% load static %}
<style>



#letter-detail-intro {
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items:center;
    padding-bottom:3rem;
    padding-top:3rem;
    background: var(--black);
}
#letter-detail-intro .item-title{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
    padding-left: 0.5rem;
    width: fit-content;
}
#letter-detail-intro .btn-url{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background:var(--blackgray);
    border-radius: 0.5rem;
    padding:0.3rem 0.8rem 0.3rem 1rem;
    margin-left: auto;
}

#letter-detail-intro .line-title{
    background: var(--softgray);
    border-radius: 1.5rem;
    height: 0.3rem;
    width: 100%;
    margin-top:0.5rem;
}
#letter-detail-intro .text-title{
    color: var(--white);
    font-size: var(--fontsize-bold);
}
#letter-detail-intro .text-id{
    color: var(--white);
}
#letter-detail-intro .icon-copy {
    color: var(--softgray);
    font-weight: 600;
    margin-left:0.5rem;
    font-size: 1.2rem;
}

</style>

<div class="frame" id="letter-detail-intro">
    <div class="spacing-horizontal">
        <div class="item-title">
            <span class="text-title">To. {{ letter_info.receiver_name }}</span>
            <div class="line-title"></div>
        </div>
        <button onclick="copyLetterUrl()" class="btn-url" data-url="{{ target_letter.url }}">
            <div class="text-content text-id">편지 링크</div>
            <span class="icon-copy material-icons">content_copy</span>
        </button>
    </div>
</div>

<script src="{% static 'js/copyLetterUrl.js' %}"></script>