{% load bootstrap4 %}
{% load static %}
<style>
#letter_quiz-verify-word .item-count{
    position: initial;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1.5rem;
}
</style>
<div class="frame-quiz" id="letter_quiz-verify-word">
    <form action="{% url 'letter_quizapp:verify' pk=target_quiz.pk %}"
          method="post">
        {% csrf_token %}{% bootstrap_form form %}
        <input type="submit" class="btn-submit-fixed" {% if target_quiz.next_quiz %} value="다음 질문으로"
        {% else %} value="편지 확인하기" {% endif %}>
    </form>
    <div id="item-count" class="item-count">
        <span class="text-content-bold">답 {{ target_quiz.answer_count }} 글자</span>
        <span class="icon-right material-icons">arrow_right</span>
        <span class="text-count" id="total-count">현재 0 글자</span>
    </div>
</div>
<script src="{% static 'js/countLetter.js' %}"></script>