{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
.text-event{
    color: var(--black);
    font-size: 1.8rem;
    width: 70%;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}
</style>
<header class="header-empty">
</header>

<main >
{% if user.username == 'sh1226' %}
<div class="text-event">소현이는 지금 이걸 보면서 신기해하고 있겠지? 사실 생일 축하를 어떻게 해줄지 고민하다가... 사실 내가 아는 게 이런 거밖에 없는 컴돌이라 ㅠㅠ
    후다다닥 코딩으로 만들어 봤어 ㅎㅎㅎ 혹시 너무 컴돌이 같아서 이상하지는.. 않겠지?

</div>
   {% endif %}
<a href="{% url 'homescreenapp:event3' %}" class="btn-submit-fixed">다음 다음 다음</a>
</main>
{% endblock %}