{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
.text-event{
    color: var(--black);
    font-size: 1.8rem;
    width: 70%;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}
</style>
<header class="header-empty">
</header>

<main >
{% if user.username == 'sh1226' %}
<div class="text-event">역시 소빵이는 눈치가 빨라서 정말 금방 찾는군.. 이래서 눈치 빠른 사람들은 ㅎㅎㅎㅎ

</div>{% endif %}
<a href="{% url 'homescreenapp:event2' %}" class="btn-submit-fixed">소빵아 눌러봐</a>
</main>
{% endblock %}