{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}



<header style="justify-content: flex-end">
</header>

<main style="padding-bottom: 0;">
    {% include 'homescreenapp/homescreensnippets/intro.html' %}
    {% include 'homescreenapp/homescreensnippets/guide.html' %}
    {% include 'homescreenapp/homescreensnippets/save.html' %}
    {% include 'homescreenapp/homescreensnippets/review.html' %}
    {% include 'homescreenapp/homescreensnippets/summary.html' %}
    {% include 'homescreenapp/homescreensnippets/warning.html' %}
</main>
{% include 'homescreenapp/homescreensnippets/footer.html' %}
{% endblock %}