{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
    .icon-header{
        font-size: 1.8rem;
        font-weight: 800;
        color: var(--white);
        margin-left: auto;
    }
</style>

<header>
{% if user.is_authenticated and user.username == 'sh1226' %}
    <a href="{% url 'vocaapp:list' pk=user.pk %}" class="material-icons icon-header">
        lock
    </a>
{% endif %}
</header>

<main style="padding-bottom: 0;">
    {% include 'homescreenapp/introsnippets/navbar.html' %}
    {% include 'homescreenapp/introsnippets/step.html' %}
    {% include 'homescreenapp/introsnippets/save.html' %}
    {% include 'homescreenapp/introsnippets/review.html' %}
    {% include 'homescreenapp/introsnippets/guide.html' %}
</main>
{% include 'homescreenapp/introsnippets/footer.html' %}
{% endblock %}