{% load bootstrap4 %}
{% load static %}
<style>

#letter_quiz-verify-choice {
    width: 100%;
}

#letter_quiz-verify-choice .container-choice{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top:1.5rem;
}
#letter_quiz-verify-choice .spacing-item{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#letter_quiz-verify-choice .item-choice{
    width:100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    height: 6.6rem;
    padding-left: calc(var(--padding-content) + var(--padding-content) + 2.6rem);
    padding-right: var(--padding-content);
    margin-bottom:2rem;
    border-radius: var(--border-radius-container);
    background: var(--white);
}
#letter_quiz-verify-choice .text-choice{
    font-size: var(--fontsize-index);
    font-weight: var(--fontweight-content);
    color:var(--black);
    line-height: 2.2rem;

}


#letter_quiz-verify-choice .selectmultiple {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: absolute;
    left: var(--padding-content);
    top:0;
}

#letter_quiz-verify-choice .selectmultiple .form-check {
    margin: 0;
    padding:0;
    flex-shrink: 0;
    width: 2.6rem;
}

#letter_quiz-verify-choice .selectmultiple label{
    height:2.6rem;
    margin: 2rem 0 4rem 0;
    width: 100%;
    font-size:1.2rem;
}

#letter_quiz-verify-choice .selectmultiple input{
    display: none;
}
#letter_quiz-verify-choice .invalid-feedback {
    position: absolute;
    bottom:-2.2rem;
    left:0.3rem;
}

</style>
<div class="frame-quiz" id="letter_quiz-verify-choice">
    <div id="container-choice" class="container-choice">
        <form  style="width: 0; height: 0"   action="{% url 'letter_quizapp:verify' pk=target_quiz.pk %}" method="post">
            {% csrf_token %}{% bootstrap_form form %}
            {% include 'letter_quizapp/verifysnippets/submit.html' %}
        </form>
            <div class="spacing-item">
                <div class="item-choice">
                    <span class="text-choice">{{ target_quiz.choice1 }}</span>
                </div>
                <div class="item-choice">
                    <span class="text-choice">{{ target_quiz.choice2 }}</span>
                </div>
                <div class="item-choice" style="margin-bottom:1.5rem">
                    <span class="text-choice">{{ target_quiz.choice3 }}</span>
                </div>
            </div>
    </div>
    <div class="item-answer">
        {% if is_user_related %}
        <span class="text-answer">* {{ target_quiz.choiceanswer_hint }}</span>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/handleSelectMultiple.js' %}"></script>