{% load bootstrap4 %}
<style>
    #letter_quiz-verify-date .item-answer{
        margin-top:1.5rem;
    }
</style>

<div class="frame-quiz" id="letter_quiz-verify-date">
    <form action="{% url 'letter_quizapp:verify' pk=target_quiz.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}{% bootstrap_form form %}
        {% include 'letter_quizapp/verifysnippets/submit.html' %}
    </form>
    <div class="item-answer">
        {% if is_user_related %}
        <span class="text-answer">* {{ target_quiz.dateanswer|date:"y년 m월 d일 " }}</span>
        {% endif %}
    </div>
</div>
