{% if is_user_related %}
    {% if target_quiz.next_quiz %}
        <a href="{% url 'letter_quizapp:verify' pk=target_quiz.next_quiz.pk %}" class="btn-submit-fixed">다음 질문으로</a>
    {% else %}
        <a href="{% url 'letterapp:detail' pk=target_letter.pk %}" class="btn-submit-fixed">편지 확인하기</a>
    {% endif %}
{% else %}
    {% if target_quiz.next_quiz %}
        <input type="submit" class="btn-submit-fixed" value="편지 확인하기">
    {% else %}
        <input type="submit" class="btn-submit-fixed" value="다음 질문으로">
    {% endif %}
{% endif %}