<style>


    #homescreen-homescreen-guide{
        background: #fbe9ef;
    }
    #homescreen-homescreen-guide .container{
        padding-top:1.7rem;
        padding-bottom:1.7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin-top:4rem;
    }

    #homescreen-homescreen-guide .spacing-item{
        width:24rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #homescreen-homescreen-guide .text-title{
        font-weight: var(--fontweight-index);
    }

    #homescreen-homescreen-guide .icon-arrow{
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 19px solid var(--white);
        display: inline-block;
        position: absolute;
        background: transparent;
        left:50%;
        transform: translateX(-50%);
        bottom:-17px;
    }



    #homescreen-homescreen-guide .item-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        flex-shrink: 0;
        margin-right: 10%;
    }
    #homescreen-homescreen-guide .img-lock,
    #homescreen-homescreen-guide .img-letter,
    #homescreen-homescreen-guide .img-chat {
        object-fit: cover;
        width: 2.6rem;
    }

    #homescreen-homescreen-guide .img-lock {
        object-fit: cover;
        width: 3rem;
    }


    #homescreen-homescreen-guide .img-chat {
        object-fit: cover;
        width: 2.8rem;
    }



</style>
<style>
    #homescreen-homescreen-guide .item-decoration-top,
    #homescreen-homescreen-guide .item-decoration-bottom{
        position: absolute;
        z-index: -1;
    }

    #homescreen-homescreen-guide .item-decoration-top {
        background:#fdf2f5;
        width: 34%;
        height: 23%;
        border-bottom-left-radius: 100% 100%;
        right: 0;
        top: 0%;
    }
    #homescreen-homescreen-guide .item-decoration-bottom{
        background:#fdf2f5;
        border-top-right-radius: 100% 100%;
        left: 0;
        bottom: 0%;
        width: 33%;
        height: 23%;
    }



    @media screen and (min-width: 800px) {

        #homescreen-homescreen-guide .item-decoration-top {
            width: 20%;
            height: 21%;
        }
        #homescreen-homescreen-guide .item-decoration-bottom {
            width: 12%;
            height: 40%;
        }
        #homescreen-homescreen-guide .item-image {
            margin-right: 12%;
        }

    }
</style>

<div class="frame-homescreen" id="homescreen-homescreen-guide" >
    <div class="item-decoration-top"></div>
    <div class="item-decoration-bottom"></div>
    <div class="text-title">
        소중한 사람에게 센스있는<br>
        나만의 편지를 선물해 보세요
    </div>
    <div class="container" style="margin-top:3rem">
        <div class="icon-arrow"></div>
        <div class="spacing-item">
            <div class="item-image">
                <img class="img-letter" src='/static/icons/homescreen/mail.png'>
            </div>
            <div class="text-index" >
                편지 정보와 내용을 작성하고
            </div>
        </div>
    </div>
    <div class="container" >
    <div class="icon-arrow"></div>
        <div class="spacing-item">
            <div class="item-image">
                <img class="img-lock" src='/static/icons/homescreen/lock.png'>
            </div>
            <div class="text-index" >
                독특한 질문으로 편지를 잠금!
            </div>
        </div>
    </div>
    <div class="container" >
        <div class="spacing-item">
            <div class="item-image">
                <img class="img-chat" src='/static/icons/homescreen/share.png'>
            </div>
            <div class="text-index" >
                qr 코드와 링크를 공유합니다
            </div>
        </div>
    </div>
</div>
