{% load bootstrap4 %}

<style>
    #homescreen-homescreen-intro{
        padding-top:2rem;
        padding-bottom:6rem;
        justify-content: flex-start;
        align-items: flex-start;
        background: var(--black);
    }


    #homescreen-homescreen-intro .text-logo{
        font-weight: var(--fontweight-title);
        font-size: 2.3rem;
        color:var(--white);
    }
    #homescreen-homescreen-intro .text-logo-xoxo {
        font-size: 2.6rem;
        font-weight: var(--fontweight-bold);
        color: var(--softpink);
        padding-left: 0.5rem;
    }
    #homescreen-homescreen-intro .text-introduce {
        margin-top: 1.2rem;
        font-weight: var(--fontweight-content);
        font-size: var(--fontsize-bold);
        color: var(--white);
    }
    #homescreen-homescreen-intro .icon-star1,
    #homescreen-homescreen-intro .icon-star2,
    #homescreen-homescreen-intro .icon-star4,
    #homescreen-homescreen-intro .icon-star3 {
        position: absolute;
        font-weight: 600;
    }
    #homescreen-homescreen-intro .icon-star1 {
        right: 20%;
        top:-0.5rem;
        font-size: 2.1rem;
        color: #fdebb4;
        transform: rotate(-45deg);
    }
    #homescreen-homescreen-intro .icon-star2 {
        right: 10%;
        top:1.5rem;
        font-size: 1.3rem;
        color:#fdf7e3;
        transform: rotate(-25deg);
    }

    #homescreen-homescreen-intro .icon-star3 {
        left: 40%;
        top:-3rem;
        font-size: 1.6rem;
        color: #f7e3a1;
        transform: rotate(18deg);
    }
    #homescreen-homescreen-intro .icon-star4 {
        left: 5%;
        top:1rem;
        font-size: 1.3rem;
        color: #fef5d8;
        transform: rotate(15deg);
    }
    #homescreen-homescreen-intro .icon-star5 {
        right: 5%;
        top:2rem;
        font-size: 1.4rem;
        color: #fef5d8;
        transform: rotate(25deg);
    }
    #homescreen-homescreen-intro .container-image{
        position: relative;
        margin-top:12rem;
        margin-bottom:1rem;
        width: 100%;
    }
    #homescreen-homescreen-intro .container-title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: relative;
        padding-left: 1rem;
    }
    #homescreen-homescreen-intro .btn-nav{
        margin-left: auto;
        margin-right: auto;
        height: 5rem;
    }

    #homescreen-homescreen-intro .img-lightbulb{
        position: absolute;
        width: 6.6rem;
        height:auto;
        object-fit: cover;
        transform: rotate(-30deg);
        bottom:0.5rem;
        left:1.5rem;
    }
    #homescreen-homescreen-intro .img-letter{
        width: 8.5rem;
        height:auto;
        object-fit: cover;
        position: absolute;
        transform: rotate(25deg);
        bottom:1.5rem;
        right:1.5rem;
    }
    #homescreen-homescreen-intro .link{
        margin-top:3rem;
        display: flex;
        flex-direction:row;
        justify-content: center;
        padding-left: 0;
        margin-left: 0;
        align-items: center;
        width: 100%;
    }

    #homescreen-homescreen-intro .link .text-help{
        font-size:var(--fontsize-title);
        color:var(--white);
    }
    #homescreen-homescreen-intro .icon-letter{
        font-size: 1.85rem;
    }
    #homescreen-homescreen-intro .link .text-link{
        font-size:var(--fontsize-title);
        font-weight:var(--fontweight-content);
        color:var(--softpink);
        text-decoration-color:var(--softpink);
        text-decoration-thickness: 2px;
        margin-right:0.8rem;
        margin-left:0;
    }

    @media screen and (min-width: 800px) {
        #homescreen-homescreen-intro .img-letter{
            width: 11rem;
            bottom:0.6rem;
        }

        #homescreen-homescreen-intro .container-title{
            padding-left: 1.3rem;
        }

    }
    @media screen and (min-width: 1100px) {
        #homescreen-homescreen-intro .img-letter{
            width: 12rem;
            bottom:1.7rem;
        }
        #homescreen-homescreen-intro .img-lightbulb{
            width: 7.4rem;
        }
        #homescreen-homescreen-intro .container-title{
            padding-left: 1.5rem;
        }
    }

</style>

<div class="frame-homescreen" id="homescreen-homescreen-intro">
    <div class="container-title">
        <span class="icon-star1 material-icons">grade</span>
        <span class="icon-star2 material-icons">grade</span>
        <div class="spacing-horizontal" style="">
            <div class="text-logo">
                From.
            </div>
            <span class="text-logo-xoxo" >
                XoXo
            </span>
        </div>
        <div class="text-introduce">
            나만의 편지를 작성하고<br>
            둘만의 질문으로 잠금해요!
        </div>
    </div>
    <div class="container-image">
        <img class="img-lightbulb" src='/static/icons/homescreen/lightbulb.png'>
        <span class="icon-star3 material-icons">grade</span>
        <span class="icon-star4 material-icons">grade</span>
        <img class="img-letter" src='/static/icons/homescreen/letter.png'>
    </div>
    <a href="{% url 'homescreenapp:createguide' %}?page=homescreen" class="btn-nav" >편지를 작성해 볼까요?
        <span class="icon-nav material-icons icon-letter" >outgoing_mail</span>
    </a>
    <a href="{% url 'letterapp:search' %}?page=homescreen" class="btn-nav" style="margin-top:2rem">링크로 편지를 검색해요!
        <span class="icon-nav material-icons" >save_as</span>
    </a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'accountapp:sentmailbox' pk=user.pk %}" class="link">
            <span class="text-link">내 편지함에서</span>
            <span class="text-help">저장한 편지를 관리해요!</span>
        </a>
    {% else %}
        <a href="{% url 'accountapp:login' %}" class="link">
            <span class="text-link">로그인하고</span>
            <span class="text-help">함께 시작해 볼까요?</span>
        </a>
    {% endif %}
</div>
