<style>
    #homescreen-homescreen-review{
        background:#e9ecfb;
    }

    #homescreen-homescreen-review .container{
        margin-top:3.5rem;
        padding:1.5rem var(--padding-content);
        width: 90%;
        align-items: flex-start;
        position: relative;
    }

    #homescreen-homescreen-review .container-review-right {
        margin-left: auto;
    }
    #homescreen-homescreen-review .container-review-left {
        margin-right: auto;
    }

    #homescreen-homescreen-review .interval-writer {
        margin-bottom: 0.5rem;
    }    
    #homescreen-homescreen-review .interval-name {
        margin-right: 0.5rem;
    }
    #homescreen-homescreen-review .icon-star {
        font-size: 1.4rem;
        color: var(--yellow);
        margin-left: 0.05rem;
    }
    #homescreen-homescreen-review .text-index {
        font-weight: var(--fontweight-index);
    }

    #homescreen-homescreen-review .item-arrow-right,
    #homescreen-homescreen-review .item-arrow-left{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        display: inline-block;
        position: absolute;
        background: transparent;
        top:50%;
        transform: translateY(-50%);
    }
    #homescreen-homescreen-review .item-arrow-right{
        border-left: 17px solid var(--white);
        right: -16px;
    }
    #homescreen-homescreen-review .item-arrow-left{
        border-right: 17px solid var(--white);
        left: -16px;
    }

    @media screen and (min-width: 800px) {
        #homescreen-homescreen-review .container{
            width: 85%;
            padding-left: 8%;
            padding-right: 8%;
        }
    }

</style>
<style>
    #homescreen-homescreen-review .item-decoration-top,
    #homescreen-homescreen-review .item-decoration-middle{
        position: absolute;
        z-index: -1;
    }

    #homescreen-homescreen-review .item-decoration-top {
        background: #e3e7fc;
        width: 27%;
        height: 13%;
        border-bottom-left-radius: 100% 100%;
        right: 0;
        top: 0%;
    }
    #homescreen-homescreen-review .item-decoration-middle{
        background:#e3e7fc;
        border-top-right-radius: 100% 50%;
        border-bottom-right-radius: 100% 50%;
        left: 0;
        top: 41%;
        width: 23%;
        height: 20%;
    }



    @media screen and (min-width: 800px) {

        #homescreen-homescreen-review .item-decoration-top {
            width: 20%;
            height: 21%;
        }
        #homescreen-homescreen-review .item-decoration-middle {
            width: 12%;
            height: 40%;
        }


    }
</style>

<div class="frame-homescreen tema-blue" id="homescreen-homescreen-review" >
    <div class="item-decoration-top"></div>
    <div class="item-decoration-middle"></div>
    <div class="text-title">
        <span class="text-title-bold">많은 사람들이 From.XoXo와</span><br>
        <span class="text-title-bold">함께 추억을 만들어 나가요!</span>
    </div>
    <div class="spacing-container">
        <div class="container container-review-left"  style="margin-top:3rem">
            <div class="item-arrow-right"></div>
                <div class="spacing-horizontal interval-writer" >
                    <span class="text-index interval-name">rlath*** 님</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                </div>
            <div class="text-content" >
                처음 해봤는데 문제 푸는 재미 덕분에
                더 친해진 것 같아요!
            </div>
        </div>
    </div>
    <div class="spacing-container">
        <div class="container container-review-right" >
            <div class="item-arrow-left"></div>
        <div class="spacing-horizontal interval-writer" >
                    <span class="text-index interval-name">0317d*** 님</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                </div>
            <div class="text-content">
                애인뿐 아니라 가족과 지인들과 함께 해보니 다들 너무 재밌어 해요 ㅎㅎ
            </div>
        </div>
    </div>
    <div class="spacing-container">
        <div class="container container-review-left" >
            <div class="item-arrow-right"></div>
            <div class="spacing-horizontal interval-writer" >
                    <span class="text-index interval-name">xhxhr*** 님</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                </div>
            <div class="text-content" >
                직접 편지 쓰기는 부끄럽지만 이렇게
                보내니까 재밌고 참신해서 좋아요
            </div>
        </div>
    </div>
    <div class="spacing-container">
        <div class="container container-review-right" >
            <div class="item-arrow-left"></div>
            <div class="spacing-horizontal interval-writer" >
                    <span class="text-index interval-name">공동링*** 님</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                    <span class="icon-star material-icons">grade</span>
                </div>
            <div class="text-content" >
                추억 담긴 사진과 글을 작성하면서 남자친구와 더 친해진 것 같아요!!
            </div>
        </div>
    </div>
</div>


</div>
