<style>
    #homescreen-homescreen-save{
        background:#fbf5e9;
    }


    #homescreen-homescreen-save .container{
        padding-top:1.7rem;
        padding-bottom:1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 47.5%;
        margin-top:3rem;
    }

    #homescreen-homescreen-save .text-title{
        font-weight: var(--fontweight-index);
    }


    #homescreen-homescreen-save .item-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
    }
    #homescreen-homescreen-save .img-unlock {
        object-fit: cover;
        width: 3rem;
        position: relative;
        left: 0.2rem;
    }
    #homescreen-homescreen-save .img-save {
        object-fit: cover;
        width: 2.7rem;
        height: 2.7rem;
        position: relative;
        left: 0.2rem;
    }
    #homescreen-homescreen-save .btn-nav {
        box-shadow: 0 3px 10px #c7c8cc;
        background: var(--black);
        justify-content: center;
        height: 5.5rem;
    }
    #homescreen-homescreen-save .img-nav {
        width: 2rem;
        margin-left: 2rem;
    }


</style>
<style>
    #homescreen-homescreen-save .item-decoration-top,
    #homescreen-homescreen-save .item-decoration-middle{
        position: absolute;
        z-index: -1;
    }

    #homescreen-homescreen-save .item-decoration-top {
        background:#fdf6e7;
        width: 38%;
        height: 18%;
        border-bottom-left-radius: 100% 100%;
        right: 0;
        top: 0%;
    }
    #homescreen-homescreen-save .item-decoration-middle{
        background:#fdf6e7;
        border-top-right-radius: 100% 50%;
        border-bottom-right-radius: 100% 50%;
        left: 0;
        top: 41%;
        width: 23%;
        height: 20%;
    }



    @media screen and (min-width: 800px) {

        #homescreen-homescreen-save .item-decoration-top {
            width: 20%;
            height: 21%;
        }
        #homescreen-homescreen-save .item-decoration-middle {
            width: 12%;
            height: 40%;
        }


    }
</style>

<div class="frame-homescreen tema-yellow" id="homescreen-homescreen-save" >
    <div class="item-decoration-top"></div>
    <div class="item-decoration-middle"></div>
    <div class="text-title">
        <span class="text-title-bold">새로운 편지를 받으셨나요?</span><br>
        <span class="text-title-bold">삭제되지 않게 저장하세요!</span>
    </div>
    <div class="spacing-container">
        <div class="container">
            <div class="item-image">
                <img class="img-unlock" src='/static/icons/homescreen/unlock.png'>
            </div>
            <div class="text-index" >
                질문을 해결하고
            </div>
        </div>
        <div class="container" >
            <div class="item-image">
                <img class="img-save" src='/static/icons/homescreen/save.png'>
            </div>
            <div class="text-index" >
                편지를 저장해요
            </div>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'accountapp:sentmailbox' pk=user.pk %}" class="btn-nav">
        편지를 확인해 볼까요?
        <img class="img-nav" src='/static/icons/homescreen/point.png'>
    </a>
    {% else %}
        <a onclick="handleUnauthenticatedClick();" class="btn-nav">
        로그인 후 시작해 볼까요?
        <img class="img-nav" src='/static/icons/homescreen/point.png'>
        </a>
    {% endif %}
</div>


<script>
    function handleUnauthenticatedClick() {
        alert('로그인이 필요한 서비스입니다.');
        window.location.href = "{% url 'accountapp:login' %}";
    }
</script>