{% load static %}
<style>

    #frame-warning .item-btn{
        height: var(--height-header);
        width: 6rem;
        padding-left: var(--padding-header);
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
    }


</style>

{% if redirect_letter %}
<button onclick="closeWarning()" id="frame-warning" class="frame-zoom-info">
    <div class="container">
        <div class="item-exit">
            <div class="material-icons btn-exit">cancel</div>
        </div>
        <div class="item-content" >
            <div class="spacing-title" style="margin-bottom: 1.5rem">
            <span class="text-title" >
                확인하시던 편지가 있어요!
            </span>
            </div>
            <div class="spacing-horizontal interval-content">
                <span class="text-content">
                편지로 바로 이동하시겠어요?
                </span>
            </div>
        </div>
        <a href="{% url 'letterapp:detail' redirect_letter.pk %}?redirect_letter={{target_letter.pk}}" class="btn-nav">편지 바로가기</a>
    </div>
</button>
{% endif %}
<script src="{% static 'js/showWarning.js' %}"></script>